@charset "utf-8";


* {
    box-sizing: border-box;
}


body{
    background-color: white;
}


/* Base style */
body {

    /* font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333; */

}



.grid_flex{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.grid_item{
    display: flex;
    width: 20%;
}


.grid_item .block{
    margin:  5px auto;            /* 中央寄せ */
    padding: 10px;
    width: 25%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* block */
.block {
    /* display: block; */
    background: blue;
    height: 100px;
    width: 100%;
    padding: 10px;
    /* margin: 10px; */
}

